body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000000;
  color: #eeeeee;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: #4B5320; /* verde militare */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.3); /* giallo */
  border: 2px solid #800000; /* rosso bordeaux */
}

h1 {
  text-align: center;
  color: #FFD700; /* giallo oro */
  text-shadow: 1px 1px 2px #800000;
}

.helmet-icon {
  font-size: 32px;
  vertical-align: middle;
  margin-right: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #FFD700;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: #fff;
}

button {
  padding: 12px 24px;
  background-color: #800000;
  border: none;
  color: #FFD700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a00000;
}

#user-section ul {
  list-style-type: none;
  padding-left: 0;
}

#user-section li {
  background-color: #2e2e2e;
  margin-bottom: 6px;
  padding: 10px;
  border-radius: 5px;
  border-left: 5px solid #FFD700;
}

#user-credit {
  color: #FFD700;
  font-weight: bold;
}

